<nav class="navbar bg-light">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2" type="button" [routerLink]="['agenda']" >Curriculum Vitae</button>
    <button class="btn btn-sm btn-outline-secondary" type="button" [routerLink]="['agendaElectronica']">Agenda Electronica</button> 
    <button class="btn btn-sm btn-outline-secondary" type="button"  [routerLink]="['formulario']">Formulario de Contacto</button>
  </form>
</nav>

